:root {
  --primary-color: #1e3a8a;
  --secondary-color: #f3f4f6;
  --text-color: #000;
  --bg-color: #f3f4f6;
}

html {
  background-color: var(--bg-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html[data-theme='dark'] {
  --primary-color: #1a202c;
  --secondary-color: #2d3748;
  --text-color: #fff;
  --bg-color: #1a202c;
}

header {
  background-color: var(--primary-color);
  color: var(--text-color);
}

#myPlotlyDiv {
  width: 95%;
  margin: 0 auto;
}

.currency-button {
  transition: all 0.3s ease-in-out;
}

.currency-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.container {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.dark .container {
  background-color: var(--bg-color);
}

.currency-button {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.currency-button:hover {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.dark header {
  background-color: var(--primary-color);
  color: var(--text-color);
}

/* Dark Mode Toggle Switch Styles */
input[type='checkbox'].sr-only:checked + .block {
  background-color: var(--secondary-color); /* Change background color */
}

input[type='checkbox'].sr-only:checked + .block:before {
  left: 8px; /* Adjust position */
  background-color: var(--primary-color); /* Change background color */
}

/* Apply styles when checkbox is checked */
input[type='checkbox'].sr-only:checked + .block:before,
input[type='checkbox'].sr-only:checked + .block:before {
  background-color: var(--secondary-color); /* Change background color */
}
